/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400&family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

* {

  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

/* variable declaration Starts */
:root {

  --background-color: #0E1110;
  --background-color-2: #0a0e0a;
  --background-color-3: #19231A;
  --Jagged-ice-color:#B3ECE4;
  --mint-tulip-color:#CEF1E3;
  --mint-tulip-color:#CEF1E3;
  --irish-green-color:#189136;
  --element-color: #52A84F;
  --element-color-2: #43B647;
  --element-color-3: #256127;
  --element-color-white: #FFFFFF;
  --box-shadow: 2px 2px 8px 0px rgba(67, 182, 72, 0.75);
  --box-shadow-2: rgba(67, 182, 72, 0.75) 0px 14px 28px, rgba(17, 136, 34, 0.22) 0px 10px 10px;
  --box-shadow-3: 0px 1px 4px 6px rgba(17, 136, 34, 0.75);
  --box-shadow-4: rgba(199, 230, 184, 0.75) 0px 8px 24px, rgba(199, 230, 184, 0.1) 0px 16px 56px, rgba(199, 230, 184, 0.1) 0px 24px 80px;
  --box-shadow-black:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --text-size: 20px;
  --text-weight: 300;
  --text-size-2: 42px;
  --text-weight-2: 400;
  --main-heading-size:72px;
  --main-heading-weight:800;
  --maing-heading-line-height:85px;
  --logo-heading-size:28px;
  --logo-heading-weight:800;
  --heading-size: 44px;
  --heading-weight: 700;
  --line-height: 60px;
  --line-height-2: 72px;

}
/* variable declaration ends */

/* custom-button-css */
.signin {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--element-color-3);
  border-radius: 20px;
  color: #fff;
  border: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;

}

.signin i {
  position: absolute;
  right: 10px;
  /* Initial position: off the left side */
  transition: right 0.3s ease;
}

.signin:hover {
  background: var(--element-color-2);
}

.signin:hover i {

  right: 5px;
}

.signin-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--element-color-2);
  border-radius: 20px;
  padding: 8px 35px;
  color: #fff;
  border: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.signin-2 i {
  position: absolute;
  right: 10px;
  /* Initial position: off the left side */
  transition: right 0.3s ease;
}

.signin-2:hover {
  background: var(--element-color-2);
}

.signin-2:hover i {

  right: 5px;
}
/* custom-button-css */